@{
    ViewData["Title"] = "Home Page";
}

<body>
    <section class="p1">
        <div class="bg"></div>
        <h1>Hospital management system</h1>
        <button>learn more</button>

    </section>
    <section class="p2">
        <div class="appointments">
            <div class="s1">
                <h6 class="heading">
                    Appointment
                    <button>
                        <box-icon type='solid' name='chevron-down'>
                        </box-icon>
                    </button>
                </h6>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>
        <div class="doctors">
            <div class="s2">
                <h6 class="heading">
                    Doctors
                    <button>
                        <box-icon type='solid' name='chevron-down'>
                        </box-icon>
                    </button>
                </h6>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                </h6>
            </div>
        </div>
        <div class="prescriptions">
            <div class="s3">
                <h6 class="heading">
                    Prescriptions
                    <button>
                        <box-icon type='solid' name='chevron-down'>
                        </box-icon>
                </h6>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>
    </section>
    <section class="p3">

    </section>

    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</body>